.color-field {
  width: max-content;
  height: 50px;
  display: flex;
  align-items: center;

  & p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4em;
    color: #213864;
  }

  &__color-variables {
    margin-left: 40px;
    display: flex;
    align-items: center;
  }

  &__color-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 20px;
    }

    & svg {
      fill: #FFFFFF;
    }
  }
}