.card {
  width: 362px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  // .card__container
  &__container {
    padding: 12px 20px 20px;
  }

  // .card__cover
  &__cover {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    //border: 1px solid #000;
    margin-bottom: 20px;
    overflow: hidden;

    & img {
      max-width: 102%;
      object-fit: cover;
    }
  }

  // .card__title
  &__title {
    font-size: 16px;
    line-height: 1.5em;
    color: #213864;
  }

  // .card__description
  &__description {
    margin-top: 4px;
    font-size: 13px;
    line-height: 1.4em;
    color: #999999;
  }

  // .card__timer
  &__timer {
    margin-top: 8px;
    width: max-content;
  }

  // .card__count-clip
  &__count-clip {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;

    & svg {
      width: 18px;
    }

    & span {
      color: #999999;
      font-size: 14px;
      margin-right: 5px;
    }
  }
}

.border {
  &--red {
    border: 1px solid tomato;
    box-shadow: 0 0px 3px tomato;
  }

  &--yellow {
    border: 1px solid #FFD35C;
    box-shadow: 0 0px 3px #FFD35C;
  }

  &--orange {
    border: 1px solid #F97C1C;
    box-shadow: 0 0px 3px #F97C1C;
  }

  &--green {
    border: 1px solid #41D0B6;
    box-shadow: 0 0px 3px #41D0B6;
  }

  &--blue {
    border: 1px solid #2CADF6;
    box-shadow: 0 0px 3px #2CADF6;
  }

  &--purple {
    border: 1px solid #891BE8;
    box-shadow: 0 0px 3px #891BE8;
  }
}