@import "src/app/styles/variables";

.header {
  position: relative;
  height: 55px;
  background: #FFFFFF;
  border-bottom: 1px solid #DEDFE1;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .header__logo
  &__logo {
    display: flex;
    align-items: center;
  }

  // .header__title
  &__title {
    color: $blue;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5em;
    margin-left: 15px;
  }

  // .header__main
  &__main {
    display: flex;
    align-items: center;
  }

  // .header__menu
  &__menu {
    display: flex;
    align-items: center;
  }

  // .header__viewer
  &__viewer {
    position: relative;
    margin-left: 18px;
  }
}

.board {
  height: 100%;

  &__container {
    position: relative;
    width: 100%;
    display: flex;
    background: #F7F8FA;
    height: calc(100% - 55px);
    padding: 20px 0 0 0;
  }

  // .board__navbar
  &__navbar {
    width: 65px;
    height: calc(100% - 20px);
    // border: 1px solid #000; // TODO delete
    margin: 0px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px 1px #EAEBEC;
    border-radius: 17px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  // .board__content
  &__content {
    width: 100%;
    overflow: auto;
    height: 100%;
  }
}