@import "src/app/styles/variables";

.bell-notification {
  position: relative;
  background: none;
  @media (any-hover: hover) {
    &:hover {
      & svg path {
        transition: all .3s ease;
        stroke: $blue;
      }
    }
  }

  &__count {
    position: absolute;
    width: 14px;
    height: 14px;
    background: $blue;
    top: 2%;
    right: 2%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.5em;
  }
}