.button {
  background: #2DA6F8;
  border-radius: 8px;
  width: 232px;
  height: 53px;
  font-weight: 600;
  font-size: 18px;
  line-height: 128%;
  color: #FFFFFF;
  transition: all 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      background: #5C98F1;
    }
  }
  &:focus {
    background: #4583DE;
  }
}