.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;


  &--active {
    opacity: 1;
    pointer-events: all;
  }

  &__wrapper {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: scale(0.75);
    transition: all .3s ease-in;

    min-width: 200px;

    padding: 15px;

    &--active {
      transform: scale(1);
    }
  }

  &__close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    right: 12px;
    background: none;

    @media (any-hover: hover) {
      &:hover {
        svg path {
          transition: all .2s ease;
          stroke: #1E9EF7;
        }
      }
    }
  }
}