.main-body {
  border: 1px solid #000;

  &__header {
    //width: 92%; //TODO delete
    margin-top: 10px;
    padding: 0 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list {
    display: flex;
    align-items: center;
  }

  &__button-area {
    display: flex;
    align-items: center;

    & button {
      margin-left: 15px;

      &:not(:last-child) {
        width: 140px;
        height: 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;

        & svg {
          display: none;
        }
      }
    }

  }


  &__button-menu {
    svg path {
      transition: all 0.3s linear;
    }

    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #213864;
    box-sizing: border-box;
    border-radius: 7px;
    @media (any-hover: hover) {
      &:hover {
        background: #F1F9FF;
        border: 1px solid #2DA6F8;
        color: #1E9EF7;

        svg path {
          stroke: #1E9EF7;
        }
      }
    }

    &:focus {
      background: #2DA6F8;
      color: white;

      svg path {
        stroke: #FFFFFF
      }
    }
  }

  &__card-wrapper {
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
  }
}
