// <=========================================================================================================> //
// --- Заготовки --- //
// <=========================================================================================================> //

//$maxWidth: 1440px;

$md2: 991.98px;
$md3: 767.98px;
$md4: 669.98px;
$md5: 479.98px;

$dark: #213864;
$blue: #0AAAF4