@import "../../app/styles/variables";

.viewer-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  transition: all .3s ease;

  &__name {
    position: relative;
    font-weight: 500;
    font-size: 36px;
    line-height: 19px;
    color: #FFFFFF;
    background: $blue;
    text-align: center;
  }

  &__img {
    img {
      width: 100%;
      border-radius: 50%;
    }

    @media (any-hover: hover) {
      &:hover {
        border: 2px solid $blue;
      }
    }
  }

  &:hover .viewer-overlay {
    opacity: 1;
  }
}

.viewer-overlay {
  position: absolute;
  top: -1px;
  bottom: 0;
  left: -1px;
  right: 0;
  height: 105%;
  width: 105%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(10, 170, 244, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}