// <=========================================================================================================> //
// --- Обнуление --- //
// <=========================================================================================================> //

@import "nullstyle";

// <=========================================================================================================> //
// --- Заготовки --- //
// <=========================================================================================================> //

@import "variables";

// <=========================================================================================================> //
// --- Шрифты --- //
// <=========================================================================================================> //

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5em;
  color: $dark;
  @media (max-width: $md3) {
    font-size: 27px;
    line-height: 1.22em;
  }
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5em;
  color: $dark;
  /* @media (max-width: $md3) {
     font-size: 16px;
     line-height: 1.25em;
   }*/
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
  color: $dark;
  /*@media (max-width: $md3) {
    font-size: 15px;
  }*/
}

/*h4 {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2em;
  color: $dark;
  @media (max-width: $md3) {
    font-size: 13px;
    line-height: 1.23em;
  }
}*/

// <=========================================================================================================> //
// --- Основной блок --- //
// <=========================================================================================================> //

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  min-height: 100%;
}

#main {
  height: 100vh;
}


.layout-center {
  margin: 0 auto;
}

.form-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -100;

  &--bg-left {
    position: absolute;
    max-width: 85%;
    width: 600px;
    bottom: 10px;
    left: 0;
    z-index: -100;
  }

  &--bg-right {
    position: absolute;
    max-width: 85%;
    width: 600px;
    bottom: 10px;
    right: 0;
    z-index: -100;
  }
}

.modal-wrapper {
  & h3 {
    margin-bottom: 15px;
  }

  & button {
    margin-top: 15px;
  }
}

.red {
  background: tomato;
  transition: background-color .2s linear;
  @media (any-hover: hover) {
    &:hover {
      background: #F14223;
    }
  }
}

.yellow {
  background: #FFD35C;
  transition: background-color .2s linear;
  @media (any-hover: hover) {
    &:hover {
      background: #FEC604;
    }
  }
}

.orange {
  background: #F97C1C;
  transition: background-color .2s linear;
  @media (any-hover: hover) {
    &:hover {
      background: #FC7208;
    }
  }
}

.green {
  background: #41D0B6;
  transition: background-color .2s linear;
  @media (any-hover: hover) {
    &:hover {
      background: #18E5C0;
    }
  }
}

.blue {
  background: #2CADF6;
  transition: background-color .2s linear;
  @media (any-hover: hover) {
    &:hover {
      background: #0CA2F8;
    }
  }
}

.purple {
  background: #891BE8;
  transition: background-color .2s linear;
  @media (any-hover: hover) {
    &:hover {
      background: #8808F8;
    }
  }
}